<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project of Gulnoza Gaybullaeva</title>
</head>
<body>
    <h1>Webster University Schedule</h1>
    <p>Mini Project of Gulnoza Gaybullaeva</p>

    <form action="/timetable" method="GET">
        <label for="level">Select Level:</label>
        <select name="level" id="level">
            <option value="Undergraduate">Undergraduate</option>
            <option value="Graduate">Graduate</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
